.note {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    padding: 5px;
    background: #eee;
    max-width: 400px;
    border: 1px dotted #bbb;
}


body {
  font-family: Nunito+Sans;
  height: 100%;
}

html {
  height: 100%;
}

.main {
  height: auto;
  min-height: auto;
  margin-bottom: 50px;
}

#footer {
  font-family: Nudito+Sans;
  text-align: center;
  background-color: #5e5558;
  color: white;
  position: absolute;
  margin-top: 30px;
  height: 20%;
  width: 100%;
  padding: 5%;
}

h1 {
  position: relative;
  text-align: center;
  font-family: Nunito+Sans;
  font-size: 3rem;
  padding: 1% 1% 1%;
}

h2 {
  position: relative;
  text-align: center;
  font-family: Nunito+Sans;
  font-size: 1.5rem;
padding: 30% 1% 4% 1%;
}
.releases {
    margin-top: 30px;
    margin-bottom: -8%;
}
.bg-light {
  background-color: #ffffffad !important;
  opacity: 90%;
  color: black;
}

.navbar-light {
  font-size: 1.7rem;
}

.nav-item {
  font-family: Nunito+Sans;
  font-weight: 200;
  text-align: center;
}

.nav-item:hover {
  font-family: Nunito+Sans;
  font-weight: 400;
  text-align: center;
}

.navbar-toggler-icon {
  position: relative;
  margin: 0 auto !important;
  margin-left: auto;
  margin-right: auto;
}

.first-section-text {
  font-family: Nunito+Sans;
  font-weight: 400;
  text-align: justify;
  justify-content: center;
  padding: 3% 7% 3%;
}

.logo {
  margin-bottom: 0%;
}

.logo-homepage {
  width: 23%;
  text-align: center;
  padding: 3%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.featurette {
  height: auto;
  width: 100%;
  margin: 0;
  padding: 5% 17% 17% 17%;
}

.featurette-image .featurette-heading {
  padding: 0% 7% 7% 7%;
}

.lead {
  font-size: 1rem;
  text-align: justify;
}

.card-text {
  text-align: justify;
  font-size: 0.9rem;
}

.radio {
  display: block;
}

.comingsoon {
  text-align: center;
  padding: 15%;
  font-size: 3rem;
}

.logo-homepage-header {
  width: 20%;
  text-align: center;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 1%;
}

.featurette {
  padding: 5% 17% 5% 17%;
  height: auto;
}

.btn-dark {
  color: #fff;
  background-color: #343a40;
  border-color: #white;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 20px;
  width: 100%;
}

.bandcmpplayer {
  margin-left: 20%;
  margin-right: 20%;
}

#player.inline_player {
  max-width: 100%;
}

.inline_player .initialstate .size_small .trackspecified .noartwork .buy .albumplayer {
  max-width: 100%;
}

.album-releases-container {
  margin: 0px 0px 227px 0;
}

.bandcamp-tracks {
  margin-top: 10%;
}

.gigacalcfooter {
  visibility: hidden;
}

.eaturette-image .btn:hover {
  outline: 0 !important;
}

/* entire container, keeps perspective */
.card-container {
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
  margin-bottom: 30px;
}

/* flip the pane when hovered */
.card-container:not(.manual-flip):hover .card,
.card-container.hover.manual-flip .card {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card-container.static:hover .card,
.card-container.static.hover .card {
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  transform: none;
}

/* flip speed goes here */
.card {
  -webkit-transition: -webkit-transform 1.5s;
  -moz-transition: -moz-transform 1.5s;
  -o-transition: -o-transform 1.5s;
  transition: transform 1.5s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
}

/* back, initially hidden pane */
.back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  z-index: 3;
}

.back .btn-simple {
  position: absolute;
  left: 0;
  bottom: 4px;
}

/*        Style       */
.card {
  background: none repeat scroll 0 0 #FFFFFF;
  border-radius: 0px;
  border-style: hidden;
}

.card-container, .front, .back {
  width: 100%;
  height: 100%;
  border-radius: 0 border
}

/*      Just for presentation        */
.album-releases-container {
  margin: 50px 0 150px 0;
}

.album-image-releases {
  width: 100%;
  height: 100%;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, 15%);
}

/*       Fix bug for IE      */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .front, .back {
    -ms-backface-visibility: visible;
    backface-visibility: visible;
  }

  .back {
    visibility: hidden;
    -ms-transition: all 0.2s cubic-bezier(.92, .01, .83, .67);
  }

  .front {
    z-index: 4;
  }

  .card-container:not(.manual-flip):hover .back,
  .card-container.manual-flip.hover .back {
    z-index: 5;
    visibility: visible;
  }
}

.ytp-watermark {
  visibility: hidden;
}

.ytp-embed:not(.ad-showing) .ytp-title-text {
  padding-top: 21px;
  visibility: hidden;
}
