body {
  font-family: Nunito+Sans;
  height: 100%;
}

html {
  height: 100%;
}
.main{
height:auto;
min-height:100%;
}

#footer {
  font-family: Nudito+Sans;
  text-align: center;
  background-color: #5e5558;
  color: white;
  position: absolute;
  margin-top: 30px;
  height: 8.5rem;
  width: 100%;
  padding: 5%;
}

h1 {
  position: relative;
  text-align: center;
  font-family: Nunito+Sans;
  font-size: 3rem;
  padding: 1% 1% 1%;
}

h2 {
  position: relative;
  text-align: center;
  font-family: Nunito+Sans;
  font-size: 1.5rem;
  padding: 7%;
}

.bg-light {
  background-color: #ffffffad !important;
  opacity: 90%;
  color: black;
}

.navbar-light {
  font-size: 1.7rem;
}

.nav-item {
  font-family: Nunito+Sans;
  font-weight: 200;
  text-align: center;
}

.nav-item:hover {
  font-family: Nunito+Sans;
  font-weight: 400;
  text-align: center;
}

.navbar-toggler-icon {
  position: relative;
  margin: 0 auto !important;
  margin-left: auto;
  margin-right: auto;
}

.first-section-text {
  font-family: Nunito+Sans;
  font-weight: 400;
  text-align: justify;
  justify-content: center;
  padding: 3% 7% 3%;
}

.logo {
  margin-bottom: 0%;
}

.logo-homepage {
  width: 23%;
  text-align: center;
  padding: 3%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.featurette {
  padding: 15%;
  height: auto;
  width: 100%;
}
.featurette-heading{
padding: 0% 7% 7% 7%;
}
.lead {
  font-size: 1rem;
  text-align: justify;
}

.card-text {
  text-align: justify;
  font-size: 0.9rem;
}

.radio {
  display: block;
}

.comingsoon {
  text-align: center;
  padding: 15%;
  font-size: 3rem;
}

.logo-homepage-header {
  width: 20%;
  text-align: center;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 1%;
}

.featurette {
  padding: 4% 17% 5% 17%;
  height: auto;
}

.btn-dark {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.bandcmpplayer {
  margin-left: 20%;
  margin-right: 20%;
}

.bandcamp-tracks {
  margin-top: 4%;
}
